#map {
  height: 200px;
  width: 100%;
  background-color: #ccc;
}

#maincontent {
  max-width: 100%;
}

//decided with this approach, no need for media queries
#breadcrumb {
  max-width: 100%;
}

#restaurant-container {
  max-width: 100%;
  height: auto;
}

#map-container {
  max-width: 100%;
  height: auto;
}

#reviews-container {
  max-width: 100%;
  height: auto;
}

// @media screen and (min-width: 480px) and (max-width: 849px) {
//   #breadcrumb {
//     max-width: 100%;
//   }
//
//   #restaurant-container {
//     max-width: 100%;
//     height: auto;
//   }
//
//   #map-container {
//     max-width: 100%;
//     height: auto;
//   }
//
//   #reviews-container {
//     max-width: 100%;
//     height: auto;
//   }
// }
//
// @media screen and (min-width: 850px) {
//   #restaurant-container {
//     max-width: 100%;
//     height: auto;
//   }
//
//   #map-container {
//     max-width: 100%;
//     height: auto;
//   }
//
//   #reviews-container {
//     max-width: 100%;
//     height: auto;
//   }
// }
