/* CSS Document */

body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #3397db;
    text-decoration: none;
  }

  img {
    border: none 0 #fff;
    max-width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  max-width: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;

  h1 {
    margin: auto;

    a {
      color: #fff;
      font-size: 14pt;
      font-weight: 200;
      letter-spacing: 10px;
      text-transform: uppercase;
    }
  }
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  // width: calc(50% - 80px);

  li {
    display: inline;

    + li::before {
      padding: 8px;
      color: black;
      content: "/\00a0";
    }

    a {
      color: #0275d8;
      text-decoration: none;

      &:hover {
        color: #01447e;
        text-decoration: underline;
      }
    }
  }
}

/* Display list items side by side */

/* Add a slash symbol (/) before/behind each list item */

/* Add a color to all links inside the list */

/* Add a color on mouse-over */

/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  height: 50px;
  background-color: #252831;
  align-items: center;

  h2 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 20px;
  }

  select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
  }
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;

  li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    margin: 15px;
    min-height: 380px;
    padding: 0 0 25px;
    text-align: left;
    width: 270px;
  }

  .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-height: 248px;
    min-width: 100%;
  }

  li h1 {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 20px 10px;
    text-transform: uppercase;
  }

  p {
    margin: 20px;
    font-size: 11pt;
  }

  li a {
    background-color: orange;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 20px 20px 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
}

/* ====================== Restaurant Details ====================== */

.inside {
  // header {
  //   position: fixed;
  //   top: 0;
  max-width: 100%;
  //   z-index: 1000;
  // }

  #map-container {
    background: blue none repeat scroll 0 0;
    height: 200px;
    // position: fixed;
    right: 0;
    top: 0;
    max-width: 100%;
  }

  #map {
    background-color: #ccc;
    height: 100%;
    max-width: 100%;
  }
  // #footer {
  //   bottom: 0;
  //   position: absolute;
  //   width: 50%;
  // }
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  max-width: 100%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
  max-width: 100%;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  max-width: 100%;
}

#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 40px 30px;
  max-width: 100%;
}

#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  // padding: 140px 40px 30px;
  max-width: 100%;
  padding: 30px 40px 80px;

  h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }
}

#reviews-list {
  margin: 0;
  padding: 0;

  li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
    max-width: 100%;

    p {
      margin: 0 0 10px;
    }
  }
}

#restaurant-hours td {
  color: #5d5a5a;
}
